div.footer{
    margin: 0px;
    border-top: 1px solid #e7e7e7;
    display: block;
}
div.footer_ensure{
    margin: 24px 0px 24px 0px;
    text-align: center;
}
div.horizontal_line{
    border-top: 1px solid #e7e7e7;
}
div.footer_desc{
    padding-top: 30px;
    max-width: 1024px;
    margin: 0px auto;
}
div.footer_desc div.descColumn{
    width: 20%;
    float: left;
    padding-left: 15px;
}
div.footer_desc div.descColumn span.descColumnTitle{
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}
div.footer_desc a{
    display: block;
    padding-top: 3px;
}
div.copyright{
    background-color: black;
    border-top: 2px solid #c40000;
    margin-top: 20px;
}
div.copyrightMiddle{
    width: 1024px;
    margin: 0px auto;
    text-align: left;
    position: relative;
}
img.cateye{
    /*margin-left: 20px;*/
    margin-left: 5px;
    display: block;
    position: absolute;
    top: -33px;
    /*left: -15px;*/
}
div.footer div.copyright div.white_link{
    padding: 10px 0px;
    margin-left: 10px;
}
div.footer div.copyright div.white_link a{
    color: white;
    padding: 0px 5px;
}
div.copyright span.slash{
    color: white;
}
div.license{
    margin-left: 10px;
    padding-bottom: 30px;
}
div.license span{
    color: #A4A4A4;
}
div.license div.copyRightYear{
    margin: 10px 0px;
    color: #686868;
}